{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="astyle.css">
    <style>
        body{
            background-color: chocolate;
        }
        </style>
</head>
<body>
    <div>
    <h3>Black Coffee</h3>
    <img src="{% static 'BC1.jpeg'%}" width="100px" height="100px">
    <p>Black coffee is low in calories and contains small amounts of several vitamins and minerals, along with plant compounds like caffeine and chlorogenic acid.
        Black coffee is widely used for energy. I personally feel more awake after I have my first cup of coffee in the morning.
        </p>
        </div>
        <div>
    <h3>Filter Coffe</h3>
    <img src="{% static 'FC1.jpeg'%}">
    <p>Indian filter coffee is a coffee drink made by mixing hot milk and sugar with the infusion obtained by percolation brewing of finely ground coffee powder with chicory in a traditional Indian filter. It has been described as "hot, strong, sweet and topped with bubbly froth" and is known as filter kaapi in India.
    </p>
    </div>
    <div>
    <h3>Cappucino</h3>
    <img src="{% static 'Cc11.jpeg'%}">
    <p>A cappuccino is made with equal parts of espresso, steamed milk, and milk foam. It has a strong coffee flavor with a creamy texture from the milk and foam. A latte, on the other hand, is made with more steamed milk and less foam compared to a cappuccino.</p>
    </div>
    <div>
    <h3>Espresso</h3>
    <img src="{% static 'espresso.jpeg'%}">
    <p>Espresso is thicker and more intense than coffee because of the lower grounds to water ratio, the finer grind, and the pressurized brewing method. Regular coffee uses a coarser grind, more water and gravity to extract the final brew.
    </p>
    </div>
    <div>
    <h3>Americano</h3>
    <img src="{% static 'americanooo.jpeg'%}">
    <p>Americano is a type of black coffee drink, delicious and accessible all over the world. Americano is a combination of espresso and water, resulting in a similar strength as regular drip coffee. There are many types of americano available for you to make and get your caffeine.</p>
    </div>
    <div>
    <h3>Mocha</h3>
    <img src="{% static 'mocha2.jpeg'%}">
    <p>
        The versatility, availability, and flavorful taste of chocolate and coffee in Mocha make this drink popular and enjoyable. You can find a hot or cold coffee drink with the taste of chocolate easily and everywhere. There many types of iced mocha, you can drink, enjoy, and benefit from these iced coffee.</p>
    </div>
    <div>
        <h3>Macchiato</h3>
        <img src="{% static 'machito.jpeg'%}">
    <p>The small amount of milk that is used in the macchiato gives this coffee drink a slight sweetness. However, the combination of sweetness and creaminess of the milk isn’t enough to dilute the strength of the espresso, so some may argue that a macchiato can taste slightly bitter.</p>
    </div>
</body>
</html>