{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    <h1>ORDER</h1>
    <div>
        <form>
            <ul>
                <li>Coffee Name:</li>
                <input type="text"><br>

                <li>Name:</li>
                <input type="text"><br>
                <li>Email_id:</li>
                <input type="email"><br>
                
                <li>Table No:</li>
                <input type="number"><br>              
                                
                <li>Quantity:</li>
                <input type="number"><br>
                <li>Total Cost:</li>
                <input type="number"><br><br>

                <button>ORDER</button>

                </ul>
            </form>
        </div>
</body>
</html>